@model Clinic.Models.Appointment

@{
    ViewData["Title"] = "Delete";
}

<h2>
    Potwierdź usunięcie wizyty
     <p>        
        <input type="button" class=" btn btn-info" value="Powrót do listy wizyt" onclick="location.href='@Url.Action("Index", "Appointments")'" />
    </p>
</h2>
<div>    
    <hr />
    <dl class="dl-horizontal">
        <input type="hidden" asp-for="AppointmentID" />
        <dt>
            @Html.DisplayNameFor(model => model.DateOfAppointment)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DateOfAppointment)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TimeOfAppointment)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TimeOfAppointment)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Note)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Note)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Doctor)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Doctor.FullName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Patient)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Patient.FullNamePesel)
        </dd>
   </dl>
    
    <form asp-action="Delete">
        <div class="form-actions no-color col-md-4 col-md-offset-1">
            <input type="submit" value="Usuń" class="btn btn-danger" />
        </div>
    </form>
    
    
   
</div>
