@model IEnumerable<Clinic.Models.Doctor>

@{
    ViewData["Title"] = "Index";
}

<h2>Lista lekarzy
    
    <p>
        <input type="button" class=" btn btn-success" value="Dodaj nowego lekarza" onclick="location.href='@Url.Action("Create", "Doctors")'" />
    </p>

</h2>


<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.FirstName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.LastName)
                </th>
                
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>            
            <td>

                <input type="button" class=" btn btn-info" value="Edytuj" onclick="location.href='@Url.Action("Edit", "Doctors", new { id = item.DoctorID })'" />
                <input type="button" class=" btn btn-info" value="Szczegóły" onclick="location.href='@Url.Action("Details", "Doctors", new { id = item.DoctorID })'" />
                <input type="button" class=" btn btn-danger" value="Usuń" onclick="location.href='@Url.Action("Delete", "Doctors", new { id = item.DoctorID })'" />

            </td>
        </tr>
}
    </tbody>
</table>
